<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: head(~{::title},~{})">
    <title th:text="#{title.orders} + ' — Delivery'">Orders</title>
</head>
<body class="d-flex flex-column min-vh-100">
    <header th:replace="fragments/header :: header"></header>

    <div class="container-lg d-flex flex-column align-items-center">
        <h1 style="margin-top: 50px;" th:text="#{orders}">Orders</h1>
        <h3 th:if="${orderPage.content.size == 0}" th:text="#{empty}">Nothing to show</h3>
        <table th:if="${orderPage.content.size > 0}" class="table table-hover align-middle" style="width: 800px;">
            <thead>
            <tr>
                <th scope="col">
                    <a class="link-dark text-decoration-none" th:href="@{/admin/orders(page=${orderPage.number + 1}, sortField='id', sortDirection=${reverseSortDir})}" th:text="${sortField != 'id'} ? 'Id' : 'Id' + ${sortDirection == 'desc' ? '▾' : '▴'}">Id</a>
                </th>
                <th scope="col">
                    <a class="link-dark text-decoration-none" th:href="@{/admin/orders(page=${orderPage.number + 1}, sortField='cost', sortDirection=${reverseSortDir})}" th:text="${sortField != 'cost'} ? #{order.cost} : #{order.cost} + ${sortDirection == 'desc' ? '▾' : '▴'}">Cost</a>
                </th>
                <th scope="col">
                    <a class="link-dark text-decoration-none" th:href="@{/admin/orders(page=${orderPage.number + 1}, sortField='route', sortDirection=${reverseSortDir})}" th:text="${sortField != 'route'} ? #{order.route} : #{order.route} + ${sortDirection == 'desc' ? '▾' : '▴'}">Route</a>
                </th>
                <th scope="col">
                    <a class="link-dark text-decoration-none" th:href="@{/admin/orders(page=${orderPage.number + 1}, sortField='address', sortDirection=${reverseSortDir})}" th:text="${sortField != 'address'} ? #{order.address} : #{order.address} + ${sortDirection == 'desc' ? '▾' : '▴'}">Address</a>
                </th>
                <th scope="col">
                    <a class="link-dark text-decoration-none" th:href="@{/admin/orders(page=${orderPage.number + 1}, sortField='deliveryDate', sortDirection=${reverseSortDir})}" th:text="${sortField != 'deliveryDate'} ? #{order.deliveryDate} : #{order.deliveryDate} + ${sortDirection == 'desc' ? '▾' : '▴'}">Delivery date</a>
                </th>
                <th scope="col">
                    <a class="link-dark text-decoration-none" th:href="@{/admin/orders(page=${orderPage.number + 1}, sortField='status', sortDirection=${reverseSortDir})}" th:text="${sortField != 'status'} ? #{order.status} : #{order.status} + ${sortDirection == 'desc' ? '▾' : '▴'}">Status</a>
                </th>
                <th scope="col" th:text="#{actions}">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orderPage.content}">
                <th scope="row" th:text="${order.id}">Id</th>
                <td th:text="${order.cost}">Cost</td>
                <td th:text="${order.route.departurePoint} + ' — ' + ${order.route.arrivalPoint}">Route</td>
                <td th:text="${order.address}">Address</td>
                <td th:text="${order.deliveryDate}">Delivery date</td>
                <td th:text="${order.status.name}">Status</td>
                <td>
                    <form th:if="${order.status.name == 'Processing'}" th:action="@{/admin/orders}" method="POST" style="margin: 0">
                        <input type="hidden" name="id" th:value="${order.id}">
                        <button class="btn btn-primary" type="submit" th:text="#{button.receipt}">Generate a receipt</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

        <nav th:if="${orderPage.totalPages > 1}">
            <ul class="pagination">
                <li class="page-item" th:classappend="${orderPage.number == 0} ? disabled">
                    <a class="page-link" th:href="@{/admin/orders(page=${orderPage.number}, sortField=${sortField}, sortDirection=${sortDirection})}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:each="pageNumber : ${#numbers.sequence(1, orderPage.totalPages, 1)}" th:classappend="${pageNumber == orderPage.number + 1} ? active">
                    <a class="page-link" th:href="@{/admin/orders(page=${pageNumber}, sortField=${sortField}, sortDirection=${sortDirection})}" th:text="${pageNumber}"></a>
                </li>
                <li class="page-item" th:classappend="${orderPage.number + 1 == orderPage.totalPages} ? disabled">
                    <a class="page-link" th:href="@{/admin/orders(page=${orderPage.number + 2}, sortField=${sortField}, sortDirection=${sortDirection})}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>