<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: head(~{::title},~{})">
    <title th:text="#{title.users} + ' — Delivery'">Users</title>
</head>
<body class="d-flex flex-column min-vh-100">
<header th:replace="fragments/header :: header"></header>

<div class="container-lg d-flex flex-column align-items-center">
    <h1 style="margin-top: 50px;" th:text="#{users}">Users</h1>
    <h3 th:if="${userPage.content.size == 0}" th:text="#{empty}">Nothing to show</h3>
    <table th:if="${userPage.content.size > 0}" class="table table-hover align-middle" style="width: 800px;">
        <thead>
        <tr>
            <th scope="col">
                <a class="link-dark text-decoration-none" th:href="@{/admin/users(page=${userPage.number + 1}, sortField='id', sortDirection=${reverseSortDir})}" th:text="${sortField != 'id'} ? 'Id' : 'Id' + ${sortDirection == 'desc' ? '▾' : '▴'}">Id</a>
            </th>
            <th scope="col">
                <a class="link-dark text-decoration-none" th:href="@{/admin/users(page=${userPage.number + 1}, sortField='username', sortDirection=${reverseSortDir})}" th:text="${sortField != 'username'} ? #{user.username} : #{user.username} + ${sortDirection == 'desc' ? '▾' : '▴'}">username</a>
            </th>
            <th scope="col">
                <a class="link-dark text-decoration-none" th:href="@{/admin/users(page=${userPage.number + 1}, sortField='email', sortDirection=${reverseSortDir})}" th:text="${sortField != 'email'} ? #{user.email} : #{user.email} + ${sortDirection == 'desc' ? '▾' : '▴'}">Email</a>
            </th>
            <th scope="col">
                <a class="link-dark text-decoration-none" th:href="@{/admin/users(page=${userPage.number + 1}, sortField='balance', sortDirection=${reverseSortDir})}" th:text="${sortField != 'balance'} ? #{user.balance} : #{user.balance} + ${sortDirection == 'desc' ? '▾' : '▴'}">Balance</a>
            </th>
            <th scope="col" th:text="#{actions}">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${userPage.content}">
            <th scope="row" th:text="${user.id}">Id</th>
            <td th:text="${user.username}">Username</td>
            <td th:text="${user.email}">Email</td>
            <td th:text="${user.balance}">Balance</td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <nav th:if="${userPage.totalPages > 1}">
        <ul class="pagination">
            <li class="page-item" th:classappend="${userPage.number == 0} ? disabled">
                <a class="page-link" th:href="@{/admin/users(page=${userPage.number}, sortField=${sortField}, sortDirection=${reverseSortDir})}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:each="pageNumber : ${#numbers.sequence(1, userPage.totalPages, 1)}" th:classappend="${pageNumber == userPage.number + 1} ? active">
                <a class="page-link" th:href="@{/admin/users(page=${pageNumber}, sortField=${sortField}, sortDirection=${reverseSortDir})}" th:text="${pageNumber}"></a>
            </li>
            <li class="page-item" th:classappend="${userPage.number + 1 == userPage.totalPages} ? disabled">
                <a class="page-link" th:href="@{/admin/users(page=${userPage.number + 2}, sortField=${sortField}, sortDirection=${reverseSortDir})}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>